/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * LetterTycoon implementation : © Jeff Raymakers <jephly@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

.player-board {
    background-color: rgba(26,26,26,0.25);
    color: rgb(240,228,182);
    box-shadow: none;
}

.player_board_info {
    display: flex;
    align-items: center;
    margin: 5px;
}

.player_board_info_item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.player_board_counter {
    padding-right: 5px;
    width: 20px;
    text-align: right;
}

.coin_icon {
    display: inline-block;
    background-image: url('img/coin_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 24px 25px;
    width: 24px;
    height: 25px;
}

.stock_icon {
    display: inline-block;
    background-image: url('img/stock_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 18px 25px;
    width: 18px;
    height: 25px;
}

.patents_icon {
    display: inline-block;
    background-image: url('img/patents_icon_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 39px 25px;
    width: 39px;
    height: 25px;
}

.zeppelin_icon {
    display: inline-block;
    background-image: url('img/zeppelin_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 37px 25px;
    width: 37px;
    height: 25px;
}

.dark_area {
    background-color: rgba(26,26,26,0.25);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
}

.area_label {
    font-weight: bold;
    color: rgb(240,228,182);
    padding: 5px 0;
}

#community_pool_and_game_cards_area {
    display: flex;
}

#community_pool_area {
    flex: 1;
    min-width: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

#game_cards_area {
    flex: 1;
    min-width: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.player_area_name {
    font-weight: bold;
}

#word_area_header {
    display: flex;
    align-items: center;
    height: 50px;
}
#word_area_footer {
    display: flex;
    align-items: center;
    height: 50px;
}

#play_word_button {
    display: none;
    margin-left: 10px;
}
#play_word_button.show {
    display: inline;
}

#clear_button {
    display: none;
    margin-left: 10px;
}
#clear_button.show {
    display: inline;
}

#change_letter_type_button {
    display: none;
    margin-left: 10px;
}
#change_letter_type_button.show {
    display: inline;
}
#change_letter_type_button.disabled {
    opacity: 0.5;
}

#start_second_word_button {
    display: none;
    margin-left: 10px;
}
#start_second_word_button.show {
    display: inline;
}
#start_second_word_button.disabled {
    opacity: 0.5;
}

#duplicate_letter_button {
    display: none;
    margin-left: 10px;
}
#duplicate_letter_button.show {
    display: inline;
}
#duplicate_letter_button.disabled {
    opacity: 0.5;
}

#add_an_s_button {
    display: none;
    margin-left: 10px;
}
#add_an_s_button.show {
    display: inline;
}
#add_an_s_button.disabled {
    opacity: 0.5;
}

#second_word {
    display: none;
}
#second_word.show {
    display: block;
}

#current_player_hand_area_header {
    display: flex;
    align-items: center;
    height: 50px;
}

#discard_button {
    display: none;
    margin-left: 10px;
}
#discard_button.show {
    display: inline;
}

.player_patents_area_header {
    display: flex;
    align-items: center;
    height: 30px;
}

.card {
    background-size: auto 200%;
    border-radius: 8px;
}
.card.added_s {
    opacity: 0.5 !important;
}
.card.duplicate {
    opacity: 0.5 !important;
}
.card.consonant::after {
    position: absolute;
    top: 10px;
    left: 47px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "C";
    font-size: 13px;
    color: rgb(240,228,182);
    background-color: rgb(22,148,110);
    box-shadow: 0 0 2px 2px rgba(26,26,26,0.8);
}
.card.vowel::after {
    position: absolute;
    bottom: 10px;
    left: 47px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "V";
    font-size: 13px;
    color: rgb(240,228,182);
    background-color: rgb(200,96,51);
    box-shadow: 0 0 2px 2px rgba(26,26,26,0.8);
}

.stockitem_selected {
    border: 0 !important;
    box-shadow: 0 0 5px 3px rgba(26,26,26,0.8);
}

#game_cards {
    display: flex;
}

.game_card {
    width: 120px;
    height: 165px;
    margin-right: 5px;
}

#frequencies_card {
    background-image: url('img/frequencies.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 120px 165px;
}

#scoring_card {
    background-image: url('img/scoring.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 120px 165px;
}

.goal2_card {
    background-image: url('img/goal2.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 120px 165px;
}

.goal3_card {
    background-image: url('img/goal3.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 120px 165px;
}

.goal4_card {
    background-image: url('img/goal4.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 120px 165px;
}

.goal5_card {
    background-image: url('img/goal5.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 120px 165px;
}

.patent {
    background-size: 200% auto;
    border-radius: 8px;
}
.patent.unpurchasable {
    opacity: 0.3 !important;
}

.log .roundedbox {
    background-color: rgba(26,26,26,0.25);
    color: rgb(240,228,182);
}


.lettertycoon_tooltip_contents {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.lettertycoon_tooltip_body {
    display: flex;
}

.lettertycoon_tooltip_body_left {
    padding-right: 5px;
}

.lettertycoon_tooltip_body_right {
    padding-left: 5px;
    text-align: right;
    font-weight: bold;
}

.lettertycoon_tooltip_footer_175 {
    padding-top: 5px;
    max-width: 175px;
    font-style: italic;
}

.lettertycoon_tooltip_footer_160 {
    padding-top: 5px;
    max-width: 160px;
    font-style: italic;
}



.scoring_card_tooltip_contents {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.scoring_card_tooltip_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
}

.scoring_card_tooltip_columns {
    display: flex;
    flex-direction: row;
}

.scoring_card_tooltip_column_length {
    display: flex;
    flex-direction: column;
}

.scoring_card_tooltip_column_money {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.scoring_card_tooltip_column_stock {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.scoring_card_tooltip_column_header {
    text-align: center;
    padding-bottom: 5px;
}

.scoring_card_tooltip_item_length {
    text-align: center;
}

.scoring_card_tooltip_item_money {
    text-align: left;
    font-weight: bold;
    text-align: center;
}

.scoring_card_tooltip_item_stock {
    text-align: left;
    font-weight: bold;
    text-align: center;
}



.frequencies_card_tooltip_contents {
    display: flex;
    flex-direction: column;
}

.frequencies_card_tooltip_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.frequencies_card_tooltip_columns {
    display: flex;
    flex-direction: row;
}

.frequencies_card_tooltip_column_left {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 10px;
}

.frequencies_card_tooltip_column_right {
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 5px;
}

.frequencies_card_tooltip_letter {
    text-align: left;
}

.frequencies_card_tooltip_count {
    font-weight: bold;
    text-align: right;
}



.goal_card_tooltip_contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.goal_card_tooltip_header {
    padding-bottom: 5px;
}
