/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * LetterTycoon implementation : © Jeff Raymakers <jephly@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

.player-board {
    background-color: rgba(26,26,26,0.25);
    color: rgb(240,228,182);
    box-shadow: none;
}

.player_board_info {
    display: flex;
    align-items: center;
    margin: 5px;
}

.player_board_info_item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.player_board_counter {
    padding-right: 5px;
    width: 20px;
    text-align: right;
}

.coin_icon {
    display: inline-block;
    background-image: url('img/coin_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 24px 25px;
    width: 24px;
    height: 25px;
}

.stock_icon {
    display: inline-block;
    background-image: url('img/stock_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 18px 25px;
    width: 18px;
    height: 25px;
}

.patents_icon {
    display: inline-block;
    background-image: url('img/patents_icon_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 39px 25px;
    width: 39px;
    height: 25px;
}

.zeppelin_icon {
    display: inline-block;
    background-image: url('img/zeppelin_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 37px 25px;
    width: 37px;
    height: 25px;
}

.dark_area {
    background-color: rgba(26,26,26,0.25);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
}

.area_label {
    font-weight: bold;
    color: rgb(240,228,182);
    padding: 5px 0;
}

.player_area_name {
    font-weight: bold;
}

#word_area_header {
    display: flex;
    align-items: center;
    height: 50px;
}

#play_word_button {
    display: none;
    margin-left: 10px;
}
#play_word_button.show {
    display: inline;
}

#clear_button {
    display: none;
    margin-left: 10px;
}
#clear_button.show {
    display: inline;
}

#played_word_2 {
    display: none;
}

#current_player_hand_area_header {
    display: flex;
    align-items: center;
    height: 50px;
}

#discard_button {
    display: none;
    margin-left: 10px;
}
#discard_button.show {
    display: inline;
}

.player_patents_area_header {
    display: flex;
    align-items: center;
    height: 30px;
}

.card {
    border-radius: 8px;
}

.patent {
    border-radius: 8px;
}

.log .roundedbox {
    background-color: rgba(26,26,26,0.25);
    color: rgb(240,228,182);
}
