/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * LetterTycoon implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * lettertycoon.css
 *
 * LetterTycoon stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (lettertycoon_lettertycoon.tpl), and to HTML elements you create dynamically
    (in lettertycoon.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.player-board {
    background-color: rgba(26,26,26,0.25);
    color: rgb(240,228,182);
    box-shadow: none;
}

.player_board_info {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.player_board_info_item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.player_board_counter {
    padding-right: 5px;
    width: 20px;
    text-align: right;
}

.coin_icon {
    display: inline-block;
    background-image: url('img/coin_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 24px 25px;
    width: 24px;
    height: 25px;
}

.stock_icon {
    display: inline-block;
    background-image: url('img/stock_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 18px 25px;
    width: 18px;
    height: 25px;
}

.patents_icon {
    display: inline-block;
    background-image: url('img/patents_icon_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 39px 25px;
    width: 39px;
    height: 25px;
}

.zeppelin_icon {
    display: inline-block;
    background-image: url('img/zeppelin_large.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 37px 25px;
    width: 37px;
    height: 25px;
}

.dark_area {
    background-color: rgba(26,26,26,0.25);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
}

.area_label {
    font-weight: bold;
    color: rgb(240,228,182);
    padding: 5px 0;
}

.player_area_name {
    font-weight: bold;
}

#word_area_header {
    display: flex;
    align-items: center;
    height: 50px;
}

#clear_button {
    display: none;
    margin-left: 10px;
}
#clear_button.show {
    display: inline;
}

#played_word_2 {
    display: none;
}

#current_player_area_header {
    display: flex;
    align-items: center;
    height: 50px;
}

#discard_button {
    display: none;
    margin-left: 10px;
}
#discard_button.show {
    display: inline;
}

.other_player_area_header {
    display: flex;
    align-items: center;
    height: 30px;
}

.card {
    border-radius: 8px;
}

.patent {
    border-radius: 8px;
}

.log .roundedbox {
    background-color: rgba(26,26,26,0.25);
    color: rgb(240,228,182);
}
